
/* Te préoccupes pas de ca */
* {
  margin: 0px;
  padding: 0px;
}


/* C'est le style de la page, tu peux le modifier si tu veux 
body, c'est le style de la page, nav c'est le style de la barre de navigation, ul c'est le style de la liste dans la barre de navigation, li c'est le style des éléments de la liste, h1 c'est le style du titre principal, h2 c'est le style du titre secondaire, h3 c'est le style du titre tertiaire et footer c'est le style du pied de page.
*/
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}
nav {
  width: 100%;
  margin: 15px auto 40px auto;
  background-color: #333;
  position: sticky;
  top: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
}
li {
  border-right: 1px solid #bbb;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
li:last-child {
  border-right: none;
}
.title {
  margin: 0px 40px;
  height: 400px;
  background: url("/assets/");
  background-repeat: repeat-x;
  border-radius: 8px;
}
h1 {
  font-family: Verdana, sans-serif;
  color: #ce5937;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
h2 {
  font-family: Verdana, sans-serif;
  color: #683222;
  text-align: center;
  margin: 10px;
  padding: 0px;
}
h3 {
  font-family: sans-serif;
  color: #a97d70;
  text-align: center;
  margin: 10px;
  padding: 0px;
}
footer {
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 40px;
}
